html,
body {
  height: 100%;
}

body {
  color: #ffffff;
  background-color: #000000;
}

form {
  min-width: 50%;
  margin: 0 auto;
  width: fit-content;
}

form>* {
  display: block;
  margin: 0 auto;
}

textarea {
  color: white;
  background-color: #0a0a0a;
  margin-bottom: .5rem;
  min-width: 100%;
  padding: .5rem 1rem;
  box-sizing: border-box;
  height: 7rem;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1.5rem;
}

textarea:-moz-placeholder {
  font-style: italic;
  font-size: 1.5rem;
}

textarea::-moz-placeholder {
  font-style: italic;
  font-size: 1.5rem;
}

textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.5rem;
}

h1,
button {
  text-align: center;
}

button {
  /*! width: 150px; */
  padding: 0.5rem 2rem;
  background-color: white;
  border: none;
  border-radius: 7px;
  color: black;
}

label {
  /*! width: fit-content; */
  text-align: center;
  background-color: white;
  color: black;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 15px 15px 0px 0px;
}

/* Style for the video container */
.video-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
}

/* Style for the thumbnail image */
.thumbnail {
  /*! max-width: 100px; */
  height: auto;
  display: block;
  margin: 0px auto 10px;
  width: 60%;
}

/* Style for the title */
h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Style for the channel title and description */
p {
  font-size: 14px;
  margin-bottom: 5px;
}