/* * {
  margin: 0;
  padding: 0;
} */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: end;
  padding: 1rem 5%;
  gap: 1.5rem;
}

nav a {
  text-decoration-line: none;
  color: white;
  font-weight: bold;
}

#appTitle {
  font-family: "Tabac Big Sans Bold", Fallback, sans-serif;
  margin: 3rem auto 0rem;

  /* font-size: 5rem;
  line-height: 4rem; */

  font-size: 4rem;
  line-height: 3rem;
  font-style: italic;
  width: fit-content;
}
@font-face {
  font-family: "Tabac Big Sans Bold";
  src: url("TabacBigSansBold.ttf") format("truetype");
}

#appTitle:hover,
#appTitle:focus,
#appTitle:active {
  color: #ff0000;
}

#subtitle {
  text-align: center;
  font-size: 1.2rem;
  max-width: 34ch;
  margin: 0.5rem auto 2rem;
  font-style: italic;
  /* font-family: "Cambria", sans-serif; */
  /* font-family: 'Arvo'; */
  /* font-family: 'Rockwell'; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Cormorant", serif; */
  font-weight: lighter;
}

form {
  min-width: 50%;
  margin: 0 auto;
  width: fit-content;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

form > textarea,
form > button {
  display: block;
  margin: 0 auto;
}

textarea {
  color: white;
  background-color: #0a0a0a;
  /*   margin-bottom: 0.5rem !important; */
  min-width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 7rem;
  max-width: 100%;
  min-height: 80px;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  /*   font-size: 1.5rem; */
}

textarea:-moz-placeholder {
  font-style: italic;
  /*   font-size: 1.5rem; */
}

textarea::-moz-placeholder {
  font-style: italic;
  /*   font-size: 1.5rem; */
}

textarea:-ms-input-placeholder {
  font-style: italic;
  /*   font-size: 1.5rem; */
}

h1,
button {
  text-align: center;
}

button {
  /*! width: 150px; */
  padding: 0.5rem 2rem;
  background-color: white;
  border: none;
  border-radius: 7px;
  color: black;
}

button:hover,
button:focus,
button:active {
  background-color: #ff0000;
  color: white;
}

label {
  /*! width: fit-content; */
  text-align: center;
  background-color: white;
  color: black;
}

form > label:first-child {
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 15px 15px 0px 0px;
  font-size: 1.2rem;
}

/* Style for the video container */
.video-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
}

/* Style for the thumbnail image */
.thumbnail {
  /*! max-width: 100px; */
  height: auto;
  display: block;
  margin: 0px auto 10px;
  width: 60%;
}

/* Style for the title */
.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.title,
.channelTitle {
  text-align: center;
}

/* Style for the channel title and description */
.channelTitle,
.descriptionText {
  font-size: 14px;
  margin-top: 0.3rem;
}

.descriptionLabel {
  margin: 0;
}

.timestamp {
  margin-right: 2rem;
}

.form-group > * {
  text-align: center;
  flex: 1 1 0px;
  /* width: fit-content; */
}

.form-group {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.7rem;
  border-radius: 0 0 15px 15px;
}

.form-group > label:not(label:first-child) {
  margin-left: 1rem;
}

#languageSelection {
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 2rem;
  align-items: center;
  padding-bottom: 0.5rem;
}

#AIPrompt {
  align-self: flex-start;
}

@media screen and (max-width: 548px) {
  .form-group {
    flex-direction: column;
  }
}

.AILabels {
  display: flex;
  gap: 2rem;
}

#getTranscript {
  font-size: 1rem;
}

details summary > * {
  display: inline;
}

details > summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

summary::marker,
summary::-webkit-details-marker,
summary::-moz-details-marker,
summary::-ms-details-marker {
  display: none;
}

summary::before {
  content: " ►";
}

details[open] summary:before {
  content: " ▼";
}

details > #fullText {
  padding: 0 2rem;
  margin: 0 0 3rem;
}
